# Pre-processing and Training Data Development

In [1]:
# Loading Libraries
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import pprint
import numpy as np
import seaborn as sns
from scipy.stats import zscore
from sklearn import preprocessing
%matplotlib inline

In [2]:
# the supplied CSV data file is the raw_data directory
import pandas as pd
df = pd.read_csv('ski_resort_data.csv')
df.shape

(330, 27)

In [3]:
df.head()

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
0,Alyeska Resort,Alaska,Alaska,3939,2500,250,1,0.0,0,2,...,1.0,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0
1,Eaglecrest Ski Area,Alaska,Alaska,2600,1540,1200,0,0.0,0,0,...,2.0,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,NaN
2,Hilltop Ski Area,Alaska,Alaska,2090,294,1796,0,0.0,0,0,...,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0
3,Arizona Snowbowl,Arizona,Arizona,11500,2300,9200,0,0.0,1,0,...,2.0,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,NaN
4,Sunrise Park Resort,Arizona,Arizona,11100,1800,9200,0,NaN,0,1,...,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0

In [4]:
# Create dummy features for categorical variables
dfo=df['state'] # select object type columns
dummy_state_values= pd.get_dummies(dfo)
dummy_state_values
df=pd.concat([df,dummy_state_values],axis=1)
del(df['state'])
df.head()

,Name,Region,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Alyeska Resort,Alaska,3939,2500,250,1,0.0,0,2,2,...,0,0,0,0,0,0,0,0,0,0
1,Eaglecrest Ski Area,Alaska,2600,1540,1200,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Hilltop Ski Area,Alaska,2090,294,1796,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arizona Snowbowl,Arizona,11500,2300,9200,0,0.0,1,0,2,...,0,0,0,0,0,0,0,0,0,0
4,Sunrise Park Resort,Arizona,11100,1800,9200,0,NaN,0,1,2,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.shape

(330, 61)

# Standardize the magnitude of numeric features

In [6]:
del(df['Name'])
del(df['Region'])
scaled=preprocessing.scale(df)
scaled

array([[-0.1750243 ,  1.3572862 , -1.0037286 , ..., -0.11076976,
        -0.22573306, -0.15762208],
       [-0.53401788,  0.34294523, -0.69849743, ..., -0.11076976,
        -0.22573306, -0.15762208],
       [-0.6707518 , -0.97358483, -0.50700504, ..., -0.11076976,
        -0.22573306, -0.15762208],
       ...,
       [ 0.86227679,  0.37569999,  0.91987035, ..., -0.11076976,
        -0.22573306,  6.34428877],
       [ 1.35961292, -0.23818762,  1.74270932, ..., -0.11076976,
        -0.22573306,  6.34428877],
       [ 1.31591169, -0.12196105,  1.61483353, ..., -0.11076976,
        -0.22573306,  6.34428877]])

# Split into training and testing datasets

Using sklearn model selectionm import train_test_split, and create a 75/25 split with the y = AdultWeekend. You will start by using the adult weekend ticket price as your response variable for modeling.

In [7]:
from sklearn.model_selection import train_test_split
split_scaled=train_test_split(scaled)
split_scaled

[array([[-0.83965841, -0.9672452 , -0.71134927, ..., -0.11076976,
         -0.22573306, -0.15762208],
        [-0.8342963 , -0.18535737, -0.94268237, ..., -0.11076976,
         -0.22573306, -0.15762208],
        [-0.87317163, -0.75592416, -0.81577046, ..., -0.11076976,
         -0.22573306, -0.15762208],
        ...,
        [ 0.61615572,  0.23200168,  0.68307522, ..., -0.11076976,
         -0.22573306, -0.15762208],
        [ 0.87112428, -0.18430076,  1.10075998, ..., -0.11076976,
         -0.22573306, -0.15762208],
        [-0.81043489, -0.77177324, -0.74347887, ..., -0.11076976,
         -0.22573306, -0.15762208]]),
 array([[-0.91204696, -0.62913154, -0.90091389, ..., -0.11076976,
         -0.22573306, -0.15762208],
        [-0.9093659 , -1.04649059, -0.77078902, ..., -0.11076976,
         -0.22573306, -0.15762208],
        [-0.8905985 , -0.75592416, -0.8366547 , ..., -0.11076976,
         -0.22573306, -0.15762208],
        ...,
        [ 1.25022578, -0.16950829,  1.55057433, ..., -0.11076976,
         -0.22573306, -0.15762208],
        [ 2.26768705,  1.38898436,  2.37951793, ..., -0.11076976,
         -0.22573306, -0.15762208],
        [-0.39594342, -0.54460313, -0.30812283, ..., -0.11076976,
         -0.22573306, -0.15762208]])]